body {

}

.headvals {
	font-style: italic;
}

.container {
	padding-top: 10px;
}

.custom-container {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.fkw{
	width: 50px;
}
.skw {
	min-width: 100px;
}
.period-name {
	text-decoration: underline;
}